.panel .panel-body{
    padding: 0;
    background-color: #eee;
    border:none;
}
.massage{
    text-align: center;
}
.add{
    position: relative;
    margin-bottom:20px;
}
.masssagetr{
    background-color: #fff;
    border:1px solid #ccc;
}
.homeFont{
    font-size: 40px;
    text-align: center;
}
.homeFont2{
    font-size: 30px;
    font-size: #000 !important;
    text-align: center;
}